/* regole di debug */
[class*="col-"]{
  /* min-height: 100px; */
  /* border: solid black 1px; */
}

/* regole generali */
.text-white{
  color: white !important;
}

.ms_titoli-sezioni{
  font-size: 40px;
}

.ms_padd-sezioni{
  padding-top: 30px;
  padding-bottom: 30px;
}
/****************** intestazione******** */

.navbar{
  background-color: #2c3e50;
  min-height: 100px;
  position: fixed;
  width: 100%;
  border: none;
  z-index: 300;
}

.navbar a{
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: white;
  line-height: 60px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  line-height: 60px;
}

#jumbo{
  background-color: #1abc9c;
  margin-top: 100px;
}

.jumbotron{
  background-color: #1abc9c;
  text-align: center;
}

.jumbotron img{
  max-height: 200px;
}

.jumbotron h1{
  font-size: 60px;
}

.divider-custom{
  padding-bottom: 20px;
}

.jumbotron .divider-custom-line{
  min-height: 15px;
  width: 20%;
  display: inline-block;
  border-top: solid white 4px;
}

.jumbotron .glyphicon-star{
  color: white;
  font-size: 30px;
}


/**************** parte centrale************ */

#portfolio{
  text-align: center;
}

#portfolio .divider-custom-line{
  min-height: 15px;
  width: 20%;
  display: inline-block;
  border-top: solid black 4px;
}

#portfolio .glyphicon-star{
  color:black;
  font-size: 30px;
}

.img-portfolio {
  text-align: center;
  padding:10px;
}

.img-portfolio img{
  max-height: 250px;
  border-radius: 20px;
}

/* *************sezione about ***************+*/
#sez2{
  background-color: #1abc9c;
  text-align: center;
}

.testo-about{
  padding: 50px;
  line-height: 30px;
}

#about .divider-custom-line{
  min-height: 15px;
  width: 20%;
  display: inline-block;
  border-top: solid white 4px;
}

#about .glyphicon-star{
  color:white;
  font-size: 30px;
}

.testo-about p{
  text-align: left;
}


/* **********sezione contact************** */

#contact{
  text-align: center;
}

#contact .divider-custom-line{
  min-height: 15px;
  width: 20%;
  display: inline-block;
  border-top: solid black 4px;
}

#contact .glyphicon-star{
  color:black;
  font-size: 30px;
}

.form-control{
  border: none;
}

.btn-default{
  background-color: #1abc9c;
  width: 100px;
}








footer{
  background-color:	#2c3e50;
}
